table{
	background-color: gold;
	border: 1px solid black;
}

th, td {
	color: darkblue;
	padding: 10px;
}

h4,h3,h2,h1{
	color: darkblue;
}

textarea{
	width:600px;
	height:120px;
	border: 2px solid #765942;
	border-radius: 10px;
}